html { 
  background: url(images/background.png) no-repeat center bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.noise {
  background-image: url(images/noise.png);
  background-repeat: repeat;
}

.text {
  width: 829px;
  margin: 0 auto;
  margin-top: 13%;
  padding-right: 18px;
}